<!DOCTYPE html>
<html>

<head>
    <title>Add Course</title>
</head>

<body>

<h1>Add New Course</h1>

<a href="/">Dashboard</a> |
<a href="/students">Students</a> |
<a href="/courses">Courses</a> |
<a href="/register-course">Register Course</a> |
<a href="/registrations">Registrations</a>

<hr>

<form method="POST">

<label>Course Name</label><br>
<input type="text" name="course_name" required><br><br>

<label>Professor</label><br>

<select name="professor_id">

{% for professor in professors %}

<option value="{{ professor.professor_id }}">
{{ professor.full_name }}
</option>

{% endfor %}

</select>

<br><br>

<label>Credits</label><br>
<input type="number" name="credits" required><br><br>

<label>Capacity</label><br>
<input type="number" name="capacity" required><br><br>

<button type="submit">

Add Course

</button>

</form>

</body>

</html>
