<!DOCTYPE html>
<html>
<head>
    <title>Registrations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Registrations</h1>
<input type="text" class="search-box" id="registrationSearch" placeholder="🔍 Search registrations by student, course, professor, department or status...">

    <a href="/" class="btn">← Home</a>

    <table>
        <thead>
            <tr>
                <th>Registration ID</th>
                <th>Student Name</th>
                <th>Department</th>
                <th>Course</th>
                <th>Professor</th>
                <th>Status</th>
                <th>Registration Date</th>
<th>Action</th>
            </tr>
        </thead>
<script>
document.getElementById("registrationSearch").addEventListener("keyup", function() {
    let filter = this.value.toLowerCase();
    let rows = document.querySelectorAll("tbody tr");

    rows.forEach(row => {
        row.style.display = row.innerText.toLowerCase().includes(filter) ? "" : "none";
    });
});
</script>

        <tbody>

        {% for registration in registrations %}

        <tr>

            <td>{{ registration.registration_id }}</td>

            <td>{{ registration.student_name }}</td>

            <td>{{ registration.department }}</td>

            <td>{{ registration.course_name }}</td>

            <td>{{ registration.professor_name }}</td>

            <td>{{ registration.status }}</td>

            <td>{{ registration.registration_date }}</td>
<td>
    <a href="/delete-registration/{{ registration.registration_id }}"
       class="delete-btn"
       onclick="return confirm('Delete this registration?');">
        Delete
    </a>
</td>

        </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

</body>
</html>
